@model Universidad.Models.Profesor
@{
    ViewBag.Title = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Seguro que desea eliminar a este docente?</h3>
<div>
    <h4>Docente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDempleado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDempleado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
    </dl>

    <form asp-action="Eliminar">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Lista">Volver a la lista</a>
    </form>
</div>

